# RoundReview API
API_KEY=""
API_BASE_URL="http://host.docker.internal:8080/api"
PLUGIN_BASE_URL="http://localhost:8083"
PLUGIN_BASE_URL_PREFIX=""

# LLM configuration
LLM_BASE_URL=""
# For local instances use http://host.docker.internal:11434; 
# To test Ollama cloud use https://ollama.com and add an API key in the LLM_API_KEY variable below.
LLM_API_KEY=""
LLM_API_TYPE="auto" # openai, ollama, auto
LLM_MODEL="nemotron-3-ultra"
LLM_TIMEOUT_SECONDS="600"

# Dashboard and prompt
DASHBOARD_ENABLED=True
DASHBOARD_PASSWORD=""
DASHBOARD_SECRET_KEY="change-this-key"
# You can change the system prompt also in the dashboard settings
SYSTEM_PROMPT="You are a reviewer bot. Your task is to provide detailed and constructive feedback on submitted documents, focusing on clarity, coherence, grammar, and overall quality. Please ensure your reviews are thorough, actionable, and maintain a professional tone."

# Other settings
DEBUG=